/* GENERAL PAGE STYLING */
body {
    font-family: Georgia, serif;
    margin: 0;
    background-color: #f4f4f4;
    color: #222;
    line-height: 1.6;
    
}

/* HEADER */
header {
    background: #292e16;
    color: #cfbd8c;
    padding: 40px 20px;
    text-align: center;
}

/* NAVIGATION */
nav {
    background: #595b3e;
    display: flex;
    justify-content: center;
}

nav a {
    color:#1e201f;
    padding: 15px 20px;
    text-decoration: none;
}

nav a:hover {
    background: #555;
}

/* SECTIONS */
section {
    padding: 40px;
    max-width: 900px;
    margin: 20px auto;
    background: white;
}

/* HEADINGS */
h1 {
    text-align: center;
    
}

h2{
    text-align: center;
    color:#193a31;
}

/* ARTWORK BLOCKS */
.artwork {
    margin-bottom: 50px;
}

.artwork img {
    width: 100%;
    height: auto;
    margin: 15px 0;
    border-radius: 8px;
}

/* PARAGRAPH SPACING */
p {
    margin-bottom: 15px;
}

/* FOOTER */
footer {
    text-align: center;
    padding: 20px;
    background: #595b3e;
    color: #cfbd8c;
    margin-top: 40px;
}