body {
    background-color: #F7E753;
    background: linear-gradient(90deg, #d53369 0%, #daae51 100%)
}

header {
    text-align: center;
    
}

main {
    max-width: 800px;
    margin: 50px auto;
    
}
.square{
background-color: red;
    width: 100px;
    height: 100px;
    margin: 75px auto;

    animation: shape-1 2s infinite alternate;

}
.circle {
    width: 400px;
    height: 400px;
    margin: 75px auto;
    background-color: #ff69a9;
    animation: shape-1 2s infinite alternate;
 }

@keyframes shape-1 {
    0%{
        border-radius: 0px;
        background-color: #ff69a9;
    }
    100%{
        border-radius: 100px;
        background-color: #64D0F7;
    }
}
.section-1 {

}

.section-2 {

}

img {
    max-width: 300px;
}

h1 {
    font-family: nabla;
}
h3{
 font-family: nabla;
}
p {

}

.nabla-<uniquifier> {
  font-family: "Nabla", system-ui;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings:
    "EDPT" 100,
    "EHLT" 12;
}