/*
CSS RESETS:
 Border box reset:
https://www.paulirish.com/2012/box-sizing-border-box-ftw/
 62.5% Fix: https: //www.aleksandrhovhannisyan.com/blog/62-5-percent-font-size-trick/
*/


html {
   box-sizing: border-box;
   font-size: 62.5%;
}


*,
*:before,
*:after {
   box-sizing: inherit;
   margin: 0;
   padding: 0;
}


html,
body {
   height: 100%;
}


body {
    font-size: 1.6rem;
   /* font-size 1.6rem is now the same as 16px */
   line-height: 1.6;
   background-color: black;
   color: white;
}

header {
    padding: 50px;
    background-color: cornflowerblue;
    text-align: center;
}
main{
    
}
.image-div{
    display: inline-block;
    
}

#image01{
    position: fixed;
    top: 50px;
    right: 50px;
    left: 20px;
}

#image02{
    position: fixed;
    top: 250px;
    right: 20px;
   
}
#image03{
    position: fixed;
    top: 60px;
    left: 23px;
}
#image04{
    position: fixed;
    top: 30px;
    right: 70px;
    left: 32px;
}

#image05{
    position: absolute;
    top: 40px;
    right: 78px;
}
#image06{position: absolute;
    top: 80px;
    right:60px;
    left: 10px;}

