body {
    background-color: #0a0a0a;
    color: #ffff;
    font-family: 'Helvetica', sans-serif;
    line-height: 1.6;
    max-width: 800px;
    margin: 40px auto;
    padding: 20px;
    line-height: 2;
}

h1 {
    text-align: center;
    color: #ffff;
}