/* 
COLOR PALETTE

Shark    #2A2F33
Nomad    #BBB6A5
Mantle    #8C9491
Manatee   #8C8C9C
Off-white     #f6f6f6
*/

/* GLOBAL STYLES
-----------------------------*/
/* 
  https://www.paulirish.com/2012/box-sizing-border-box-ftw/
*/
html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}
html,body{
    height: 100%;
}

body{
    background: #BBB6A5;
    margin: 0;
}

*/LINKS STYLES*/
a {
   color:#8C9491 ; 
}
a:hover {
    color:#BBB6A5;
    text-decoration: none;
}
.content-wrapper{
    margin: 0 auto;
    max-width: 900pxxs;
    padding: 30px;
}


/* HOME
------------------------------*/
.home{ 
    background: url(../placeholder-images/bg-home-office-studio.jpg) no-repeat;
    background-position:center;
    display:flex;
    flex-direction: column;
}
.home .content-wrapper{
   
    flex: 1 0 auto;
}
.content-bg {
     background:rgb(255 255 255/0.9) ;
     padding: 30px;

}

/* RESUME
------------------------------*/
.resume header::before{
    background: url(../placeholder-images/bg-home-office-studio.jpg) center;
    background-size: cover;
    content: "";
    display: block;
    height: 375px;

}
.resume-section{
    margin-bottom: 50px;
}
.resume-section h2{
    border-bottom: 2px dashed #8C8C9C;
}
.download-link{
    position: fixed;
    top: 5px;
    left: 5px;
}

/* Profile
------------------------------*/
.project-item{
    display: flow-root;
    margin: 30px 0;
}
.project-item img{
    width: 300px;
    float: left;
    margin-right: 20px;
}

/* Projects
------------------------------*/

/* Work Experience
------------------------------*/
.work-item{
    display: grid;
    grid-template-columns: 1fr 2fr;
    column-gap: 20px;
}

/* Education
------------------------------*/

/* FOOTER
------------------------------*/
footer{
    background:#8C8C9C ;
    display: flex;
    justify-content: space-between;
    padding: 0 20px;
}
.socials{
    list-style-type: none;
    padding: 0;
    margin-left: 10px;
}
.socials li{
    display: inline-block;
}
.socials img{
    width: 32px;
}
.socials img:hover {
    opacity: 0.5;

}